
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat App</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<div id="app">
    <div class="container">
        <div class="modal" :class="[{'show-modal': showModal}, {'hide-modal': !showModal}]">
            <form class="configure-form">
                <h4 class="configure">
                    <span>Configure</span> <span class="cancel" @click.prevent="cancelConfig">
                            <img src="img/cancel.jpg" width="30" alt="">
                        </span>
                </h4>
                <p>IBM Watson API Endpoint:</p>
                <input type="text" placeholder="https://example.com/v1/me" v-model="endpoint">
                <input type="text" placeholder="username" v-model="username">
                <input type="text" placeholder="password" v-model="password">
                <div class="configure-buttons">
                    <button class="button1" @click.prevent="cancelConfig">Cancel</button>
                    <button class="button2" @click.prevent="makeApiCall">Ok</button>
                </div>
            </form>
        </div>
        <div class="chat-interface">

            <button @click.prevent="showModal = true">Configure</button>

            <div class="screen-area">
                <div
                    v-for="(item, index) in conversation"
                    class="screen-area-message"
                    :key="item.index">
                    <p :class="[{'mine': item.mine}, {'someone': !item.mine}]">{{ item.message }}</p>
                </div>
            </div>

            <form>
                <input type="text" placeholder="Hi John Doe" v-model="message">
                <button @click.prevent="sendMessage">Send</button>
            </form>

        </div>
    </div>
</div>

<script>
    let app = new Vue({

        el: '#app',

        data() {
            return {
                endpoint: '',
                username: '',
                password: '',
                message: '',
                showModal: false,
                conversation: [],
                headers: {}
            }
        },

        methods: {
            makeApiCall() {
                if(this.endpoint) {
                    this.showModal = false
                    return alert(this.endpoint);
                }
                return alert('end point is empty')
            },

            async sendMessage() {

                try {

                    const config = {
                        headers: {'content-type': 'application/json'},
                        auth: {username: this.username, password: this.password}
                    }
                    const data = {input: {text: this.message}}
                    let res = await axios.post(this.endpoint, data, config)
                    if (res) {
                        // Do something here.
                        this.conversation.push({message: this.message, mine: true});
                        this.conversation.push({message: this.parseWatsonResponse(res.data), mine: false});
                        this.message = ''
                    }
                }
                catch (e) {
                    console.log(e)
                }
            },

            cancelConfig() {
                this.endpoint = ''
                this.showModal = false
            },

            parseWatsonResponse(responseData) {
                return responseData.output.text[0]
            }
        }

    })
</script>
</body>
</html>